<h2>Editar subcategoria</h2>

<%= render 'form' %>

<%= link_to 'Ver', show_subcategory_path(@subcategory), class: "btn btn-primary" %> |
<%= link_to 'Atras', subcategories_path(@subcategory.category), class: "btn btn-primary" %>
